body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #0A0C1A;
}

h1 {
    font-size: 24px;
    margin-top: 0;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    color: white;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.aprovado {
    color: green;
    font-weight: bold;
}

.reprovado {
    color: red;
    font-weight: bold;
}

.efeito {
    transition: all 2s ease;
}

.efeito.aprovado {
    background-color: #dff0d8;
}

.efeito.reprovado {
    background-color: #f8d7da;
}